/* Main CSS Stylesheet */

body, html {
    font-family: arial, sans-serif;
    font-size: small;
    color: #222;
    background: #fff;
}

#container {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    
}

#navbar {
    display: block;
    background: white;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 50px);
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;    
}

.navitem {
    
    
}

nav img {
    border-radius: 50%;
    border: 2px solid;
    border-color: red blue green yellow;
    padding: 2px;
    width: 26px;
}

a {
    color: #222;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    color: rgb(75, 75, 75);
}

#nav1 {
    grid-column: 2/3;
}

#nav2 {
    grid-column: 3/4;
}

#nav3 {
    grid-column: 4/5;
    font-size: 1.4em;
}

#nav4 {
    grid-column: 5/6;
}


main img {
    display: block;
    margin: 200px auto auto auto;
}

main p {
    text-align: center;
}

main a {
    color: rgb(0, 29, 156);
    text-decoration: none;
    
}

main a:hover {
    color: rgb(0, 29, 156);
    text-decoration: underline;
    
}

form {
    max-width: 450px;
    margin: auto;
    
    padding: 20px 10px 20px 10px;
}

form input{
    margin: auto;
    
}

input[type="text"] {
    display: block;
    width: 400px;
    height: 30px;


}

input[type="submit"] {
    padding: 5px;
    margin: 20px 5px 0px 5px;
}

input[type="submit"]:hover {
    padding: 6px;
    margin: 19px 4px -1px 4px;
}

#submit-button-box {
    width: 100%;
    text-align: center;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: red;
}

#location, #bottom-links {
    height: 50%;
    background-color: rgb(243, 241, 241);
    font-size: 12px;
    display: flex;
    align-items: center;
    border-top: 1px solid;
    border-color: lightgray;
}

#location p {
    margin-left: 20px;
}

#bottom-links {
    justify-content: space-between;
}

#left-bottom-links a {
    padding-left: 20px;
}

#right-bottom-links a {
    padding-right: 20px;
}